In [ ]:
import pandas as pd

In [ ]:
matches = pd.read_csv("matches.csv", index_col=0)

In [ ]:
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,2022-08-05,20:00,Premier League,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,Match Report,NaN,10.0,2.0,14.6,1.0,0.0,0.0,2023,Arsenal
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,Match Report,NaN,19.0,7.0,13.0,0.0,0.0,0.0,2023,Arsenal
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,Match Report,NaN,14.0,6.0,14.8,0.0,0.0,0.0,2023,Arsenal
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,Match Report,NaN,22.0,8.0,15.5,1.0,0.0,0.0,2023,Arsenal
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,Match Report,NaN,22.0,8.0,16.3,1.0,0.0,0.0,2023,Arsenal

In [ ]:
matches.shape

(1852, 27)

In [ ]:
matches["team"].value_counts()

Leicester City              93
Aston Villa                 93
Newcastle United            93
Southampton                 93
Tottenham Hotspur           93
Wolverhampton Wanderers     93
West Ham United             93
Everton                     93
Leeds United                92
Manchester City             92
Arsenal                     92
Crystal Palace              92
Brighton and Hove Albion    92
Chelsea                     92
Liverpool                   92
Manchester United           92
Burnley                     76
Brentford                   55
Fulham                      55
Watford                     38
Norwich City                38
West Bromwich Albion        38
Sheffield United            38
Bournemouth                 17
Nottingham Forest           17
Name: team, dtype: int64

In [ ]:
matches["round"].value_counts()

Matchweek 1     60
Matchweek 11    60
Matchweek 2     60
Matchweek 18    60
Matchweek 17    60
Matchweek 15    60
Matchweek 14    60
Matchweek 13    60
Matchweek 16    60
Matchweek 10    60
Matchweek 6     60
Matchweek 5     60
Matchweek 4     60
Matchweek 9     60
Matchweek 3     60
Matchweek 12    58
Matchweek 8     54
Matchweek 34    40
Matchweek 31    40
Matchweek 32    40
Matchweek 30    40
Matchweek 33    40
Matchweek 35    40
Matchweek 36    40
Matchweek 37    40
Matchweek 28    40
Matchweek 29    40
Matchweek 20    40
Matchweek 27    40
Matchweek 26    40
Matchweek 25    40
Matchweek 24    40
Matchweek 23    40
Matchweek 22    40
Matchweek 21    40
Matchweek 19    40
Matchweek 7     40
Matchweek 38    40
Name: round, dtype: int64

In [ ]:
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk              float64
pkatt           float64
season            int64
team             object
dtype: object

In [ ]:
del matches["comp"]

In [ ]:
del matches["notes"]

In [ ]:
matches["date"] = pd.to_datetime(matches["date"])

In [ ]:
matches["target"] = (matches["result"] == "W").astype("int")

In [ ]:
matches

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,match report,sh,sot,dist,fk,pk,pkatt,season,team,target
0,2022-08-05,20:00,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,1.0,...,Match Report,10.0,2.0,14.6,1.0,0.0,0.0,2023,Arsenal,1
1,2022-08-13,15:00,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,2.7,...,Match Report,19.0,7.0,13.0,0.0,0.0,0.0,2023,Arsenal,1
2,2022-08-20,17:30,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,1.3,...,Match Report,14.0,6.0,14.8,0.0,0.0,0.0,2023,Arsenal,1
3,2022-08-27,17:30,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,2.6,...,Match Report,22.0,8.0,15.5,1.0,0.0,0.0,2023,Arsenal,1
4,2022-08-31,19:30,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,2.4,...,Match Report,22.0,8.0,16.3,1.0,0.0,0.0,2023,Arsenal,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2021-05-02,19:15,Matchweek 34,Sun,Away,L,0.0,4.0,Tottenham,0.5,...,Match Report,8.0,1.0,18.2,0.0,0.0,0.0,2021,Sheffield United,0
39,2021-05-08,15:00,Matchweek 35,Sat,Home,L,0.0,2.0,Crystal Palace,0.7,...,Match Report,7.0,0.0,13.4,1.0,0.0,0.0,2021,Sheffield United,0
40,2021-05-16,19:00,Matchweek 36,Sun,Away,W,1.0,0.0,Everton,1.2,...,Match Report,10.0,3.0,18.5,0.0,0.0,0.0,2021,Sheffield United,1
41,2021-05-19,18:00,Matchweek 37,Wed,Away,L,0.0,1.0,Newcastle Utd,0.9,...,Match Report,11.0,1.0,18.3,1.0,0.0,0.0,2021,Sheffield United,0
42,2021-05-23,16:00,Matchweek 38,Sun,Home,W,1.0,0.0,Burnley,0.5,...,Match Report,12.0,3.0,17.4,0.0,0.0,0.0,2021,Sheffield United,1

In [ ]:
del matches["match report"]

In [ ]:
matches.dtypes

date          datetime64[ns]
time                  object
round                 object
day                   object
venue                 object
result                object
gf                   float64
ga                   float64
opponent              object
xg                   float64
xga                  float64
poss                 float64
attendance           float64
captain               object
formation             object
referee               object
sh                   float64
sot                  float64
dist                 float64
fk                   float64
pk                   float64
pkatt                float64
season                 int64
team                  object
target                 int64
dtype: object

In [ ]:
matches["attendance"].fillna(0, inplace=True)

In [ ]:
matches["dist"].fillna(0, inplace=True)

In [ ]:
matches.isnull().sum()

date          0
time          0
round         0
day           0
venue         0
result        0
gf            0
ga            0
opponent      0
xg            0
xga           0
poss          0
attendance    0
captain       0
formation     0
referee       0
sh            0
sot           0
dist          0
fk            0
pk            0
pkatt         0
season        0
team          0
target        0
dtype: int64

In [ ]:
mat = matches.copy()
matk = matches.copy()

In [ ]:
del matk["result"]

In [ ]:
del matk["time"]

In [ ]:
del matk["day"]

In [ ]:
del matk["captain"]

In [ ]:
from sklearn.preprocessing import LabelEncoder

label = LabelEncoder()

for i in ['round','venue','formation','referee','opponent','team']:
    matk[i] = label.fit_transform(matk[i])

matk.head()

,date,round,venue,gf,ga,opponent,xg,xga,poss,attendance,...,referee,sh,sot,dist,fk,pk,pkatt,season,team,target
0,2022-08-05,0,0,2.0,0.0,7,1.0,1.2,44.0,25286.0,...,2,10.0,2.0,14.6,1.0,0.0,0.0,2023,0,1
1,2022-08-13,11,1,4.0,2.0,11,2.7,0.5,50.0,60033.0,...,5,19.0,7.0,13.0,0.0,0.0,0.0,2023,0,1
2,2022-08-20,22,0,3.0,0.0,2,1.3,0.3,57.0,10423.0,...,4,14.0,6.0,14.8,0.0,0.0,0.0,2023,0,1
3,2022-08-27,32,1,2.0,1.0,9,2.6,0.8,71.0,60164.0,...,8,22.0,8.0,15.5,1.0,0.0,0.0,2023,0,1
4,2022-08-31,33,1,2.0,1.0,1,2.4,0.4,59.0,60012.0,...,19,22.0,8.0,16.3,1.0,0.0,0.0,2023,0,1

In [ ]:
matk.dtypes

date          datetime64[ns]
round                  int64
venue                  int64
gf                   float64
ga                   float64
opponent               int64
xg                   float64
xga                  float64
poss                 float64
attendance           float64
formation              int64
referee                int64
sh                   float64
sot                  float64
dist                 float64
fk                   float64
pk                   float64
pkatt                float64
season                 int64
team                   int64
target                 int64
dtype: object

In [ ]:
matk.isnull().sum()

date          0
round         0
venue         0
gf            0
ga            0
opponent      0
xg            0
xga           0
poss          0
attendance    0
formation     0
referee       0
sh            0
sot           0
dist          0
fk            0
pk            0
pkatt         0
season        0
team          0
target        0
dtype: int64

In [ ]:
train = matk[matk["date"] < '2022-01-01']

test = matk[matk["date"] > '2022-01-01']

In [ ]:
train.head()

,date,round,venue,gf,ga,opponent,xg,xga,poss,attendance,...,referee,sh,sot,dist,fk,pk,pkatt,season,team,target
1,2021-08-15,0,0,0.0,1.0,20,2.0,1.0,65.0,58262.0,...,2,18.0,4.0,17.3,1.0,0.0,0.0,2022,13,0
2,2021-08-21,11,1,5.0,0.0,16,2.7,0.1,67.0,51437.0,...,7,16.0,4.0,18.5,1.0,0.0,0.0,2022,13,1
3,2021-08-28,22,1,5.0,0.0,0,4.0,0.2,80.0,52276.0,...,13,25.0,10.0,14.8,0.0,0.0,0.0,2022,13,1
4,2021-09-11,32,0,1.0,0.0,11,3.3,0.6,61.0,32087.0,...,17,25.0,8.0,14.3,0.0,0.0,0.0,2022,13,1
6,2021-09-18,33,1,0.0,0.0,19,1.2,0.5,64.0,52698.0,...,10,16.0,1.0,16.4,1.0,0.0,0.0,2022,13,0

In [ ]:
!pip install lazypredict

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting lazypredict
  Downloading lazypredict-0.2.12-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from lazypredict) (1.0.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from lazypredict) (1.2.0)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from lazypredict) (7.1.2)
Requirement already satisfied: lightgbm in /usr/local/lib/python3.8/dist-packages (from lazypredict) (2.2.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from lazypredict) (4.64.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from lazypredict) (1.3.5)
Requirement already satisfied: xgboost in /usr/local/lib/python3.8/dist-packages (from lazypredict) (0.90)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from lightgbm->lazypredict) (1.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from lightgbm->lazypredict) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->lazypredict) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->lazypredict) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->lazypredict) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->lazypredict) (3.1.0)
Installing collected packages: lazypredict
Successfully installed lazypredict-0.2.12

In [ ]:
import lazypredict
from lazypredict.Supervised import LazyClassifier
clf = LazyClassifier(verbose=0, ignore_warnings=True, custom_metric=None)

In [ ]:
train.columns

Index(['date', 'round', 'venue', 'gf', 'ga', 'opponent', 'xg', 'xga', 'poss',
       'attendance', 'formation', 'referee', 'sh', 'sot', 'dist', 'fk', 'pk',
       'pkatt', 'season', 'team', 'target'],
      dtype='object')

In [ ]:
predictors = ['round', 'venue', 'gf', 'ga', 'opponent', 'xg', 'xga', 'poss',
       'attendance', 'formation', 'referee', 'sh', 'sot', 'dist', 'fk', 'pk',
       'pkatt', 'season', 'team']

In [ ]:
train[predictors]

,round,venue,gf,ga,opponent,xg,xga,poss,attendance,formation,referee,sh,sot,dist,fk,pk,pkatt,season,team
1,0,0,0.00,1.00,20,2.00,1.00,65.00,58262.00,14,2,18.00,4.00,17.30,1.00,0.00,0.00,2022,13
2,11,1,5.00,0.00,16,2.70,0.10,67.00,51437.00,14,7,16.00,4.00,18.50,1.00,0.00,0.00,2022,13
3,22,1,5.00,0.00,0,4.00,0.20,80.00,52276.00,14,13,25.00,10.00,14.80,0.00,0.00,0.00,2022,13
4,32,0,1.00,0.00,11,3.30,0.60,61.00,32087.00,14,17,25.00,8.00,14.30,0.00,0.00,0.00,2022,13
6,33,1,0.00,0.00,19,1.20,0.50,64.00,52698.00,14,10,16.00,1.00,16.40,1.00,0.00,0.00,2022,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,27,0,0.00,4.00,20,0.50,2.20,34.00,0.00,2,0,8.00,1.00,18.20,0.00,0.00,0.00,2021,18
39,28,1,0.00,2.00,7,0.70,2.00,50.00,0.00,6,21,7.00,0.00,13.40,1.00,0.00,0.00,2021,18
40,29,0,1.00,0.00,8,1.20,1.40,38.00,0.00,3,10,10.00,3.00,18.50,0.00,0.00,0.00,2021,18
41,30,0,0.00,1.00,15,0.90,1.60,49.00,10000.00,3,19,11.00,1.00,18.30,1.00,0.00,0.00,2021,18
42,31,1,1.00,0.00,5,0.50,1.10,43.00,5000.00,3,11,12.00,3.00,17.40,0.00,0.00,0.00,2021,18

In [ ]:
test.head()

,date,round,venue,gf,ga,opponent,xg,xga,poss,attendance,...,referee,sh,sot,dist,fk,pk,pkatt,season,team,target
0,2022-08-05,0,0,2.00,0.00,7,1.00,1.20,44.00,25286.00,...,2,10.00,2.00,14.60,1.00,0.00,0.00,2023,0,1
1,2022-08-13,11,1,4.00,2.00,11,2.70,0.50,50.00,60033.00,...,5,19.00,7.00,13.00,0.00,0.00,0.00,2023,0,1
2,2022-08-20,22,0,3.00,0.00,2,1.30,0.30,57.00,10423.00,...,4,14.00,6.00,14.80,0.00,0.00,0.00,2023,0,1
3,2022-08-27,32,1,2.00,1.00,9,2.60,0.80,71.00,60164.00,...,8,22.00,8.00,15.50,1.00,0.00,0.00,2023,0,1
4,2022-08-31,33,1,2.00,1.00,1,2.40,0.40,59.00,60012.00,...,19,22.00,8.00,16.30,1.00,0.00,0.00,2023,0,1

In [ ]:
models,predictions = clf.fit(train[predictors],test[predictors], train['target'], test['target'])

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 29/29 [00:02<00:00, 11.44it/s]

In [ ]:
print(models)

                               Accuracy  Balanced Accuracy  ROC AUC  F1 Score  \
Model
AdaBoostClassifier                 1.00               1.00     1.00      1.00
BaggingClassifier                  1.00               1.00     1.00      1.00
XGBClassifier                      1.00               1.00     1.00      1.00
Perceptron                         1.00               1.00     1.00      1.00
PassiveAggressiveClassifier        1.00               1.00     1.00      1.00
LogisticRegression                 1.00               1.00     1.00      1.00
LinearSVC                          1.00               1.00     1.00      1.00
DecisionTreeClassifier             1.00               1.00     1.00      1.00
CalibratedClassifierCV             1.00               1.00     1.00      1.00
LGBMClassifier                     1.00               1.00     1.00      1.00
RandomForestClassifier             0.99               0.99     0.99      0.99
ExtraTreesClassifier               0.99               0.98     0.98      0.99
SVC                                0.98               0.97     0.97      0.98
SGDClassifier                      0.97               0.97     0.97      0.97
RidgeClassifierCV                  0.92               0.89     0.89      0.91
LinearDiscriminantAnalysis         0.91               0.89     0.89      0.91
RidgeClassifier                    0.91               0.89     0.89      0.91
NuSVC                              0.88               0.85     0.85      0.87
QuadraticDiscriminantAnalysis      0.86               0.83     0.83      0.85
NearestCentroid                    0.83               0.82     0.82      0.83
BernoulliNB                        0.82               0.81     0.81      0.82
GaussianNB                         0.82               0.79     0.79      0.81
KNeighborsClassifier               0.81               0.78     0.78      0.80
LabelSpreading                     0.77               0.76     0.76      0.77
LabelPropagation                   0.77               0.76     0.76      0.77
ExtraTreeClassifier                0.75               0.74     0.74      0.75
DummyClassifier                    0.61               0.50     0.50      0.46

                               Time Taken
Model
AdaBoostClassifier                   0.16
BaggingClassifier                    0.05
XGBClassifier                        0.20
Perceptron                           0.02
PassiveAggressiveClassifier          0.02
LogisticRegression                   0.05
LinearSVC                            0.07
DecisionTreeClassifier               0.02
CalibratedClassifierCV               0.16
LGBMClassifier                       0.10
RandomForestClassifier               0.29
ExtraTreesClassifier                 0.29
SVC                                  0.12
SGDClassifier                        0.05
RidgeClassifierCV                    0.04
LinearDiscriminantAnalysis           0.09
RidgeClassifier                      0.02
NuSVC                                0.14
QuadraticDiscriminantAnalysis        0.04
NearestCentroid                      0.02
BernoulliNB                          0.02
GaussianNB                           0.03
KNeighborsClassifier                 0.09
LabelSpreading                       0.17
LabelPropagation                     0.16
ExtraTreeClassifier                  0.02
DummyClassifier                      0.02

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

In [ ]:
ada = AdaBoostClassifier(n_estimators=100, random_state=0)
ada.fit(train[predictors],train['target'])

AdaBoostClassifier(n_estimators=100, random_state=0)

In [ ]:
preds = ada.predict(test[predictors])

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
error = accuracy_score(test["target"], preds)
error

1.0